.upProject {
    display: flex;
    position: relative;
  }
  
  .TextStart h1 {
    font-family: Rambla;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: #13304C;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 487px;
  }
  
  input,
  select {
    width: 100%;
    height: 28px; /* Alterado para 28px */
    border-radius: 4px;
    border: 1px solid #CCCCCC;
  }
  
  .form input {
    height: 28px; /* Alterado para 28px */
  }
  
  .form-label {
    display: flex;
    justify-content: space-around;
  }
  
  .form-label select {
    width: 243px;
  }
  
  .autores {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
  }
  
  .upArq {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
  
  .upArq button {
    width: 215px;
    height: 40px;
    padding: 10px 30px; /* Alterado para 10px 30px */
    border-radius: 4px;
    background: linear-gradient(180deg, #037DF8 0%, #145EA8 100%);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center; /* Alterado para center */
    color: #FFFFFF;
    border: none;
    margin-left: 120px;
    margin-top: 120px;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .upProject {
      flex-direction: column;
      width: 400px;
    }
    .form-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .form-label select{
        width: 380px;
    }

    .form{
        width: 380px;
    }
  
    .form input,
    .form select {
      height: 24px; /* Alterado para 24px */
    }
  
    .upArq button {
      width: 100%;
      padding: 10px 20px; /* Alterado para 10px 20px */
    }

    .upArq button {
        width: 215px;
        height: 40px;
        padding: 10px 30px; /* Alterado para 10px 30px */
        border-radius: 4px;
        background: linear-gradient(180deg, #037DF8 0%, #145EA8 100%);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center; /* Alterado para center */
        color: #FFFFFF;
        border: none;
        margin-left: 0px;
        margin-top: 20px;
      }
  }
  

  .input-container {
    width: 300px;
    height: 200px;
    border: 2px dashed #bbb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .input-container.drag-over {
    border-color: #666;
  }
  
  .icon-container {
    margin-bottom: 10px;
  }
  
  .icon {
    font-size: 30px;
  }
  
  .text-container {
    text-align: center;
  }
  
  .text-container p {
    margin: 5px;
  }
  
  .file-name {
    font-weight: bold;
  }